/**
  * ----------------------------------------
  * Code block styles
  * ----------------------------------------
  */
.code-block .token.parameter {
  color: rgb(var(--code-foreground));
}

.code-block .token.selector,
.code-block .token.selector .class,
.code-block .token.function {
  color: rgb(var(--code-syntax1));
}

.code-block .token.tag {
  color: rgb(var(--code-tag));
}

.code-block .token.script.language-javascript {
  color: rgb(var(--code-foreground));
}

.code-block .token.class-name {
  color: rgb(var(--code-syntax5));
}

.code-block .token.attr-value,
.code-block .token.class,
.code-block .token.string,
.code-block .token.number,
.code-block .token.unit,
.code-block .token.color {
  color: rgb(var(--code-syntax2));
}

.code-block .token.keyword,
.code-block .token.rule,
.code-block .token.operator,
.code-block .token.pseudo-class,
.code-block .token.important {
  color: rgb(var(--code-syntax3));
}

.code-block .token.attr-name {
  color: rgb(var(--code-syntax6));
}

.code-block .token.punctuation,
.code-block .token.module,
.code-block .token.property {
  color: rgb(var(--code-syntax4));
}

.code-block .token.comment {
  color: rgb(var(--code-comment));
}

.code-block .token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.code-block .language-shell .token:not(.comment) {
  color: inherit;
}

.code-block .language-css .token.function {
  color: inherit;
}

.code-block .token.deleted:not(.prefix),
.code-block .token.inserted:not(.prefix) {
  @apply mx-auto block px-4;
}

.code-block .token.deleted:not(.prefix) {
  color: rgb(var(--code-removed));
}

.code-block .token.inserted:not(.prefix) {
  color: rgb(var(--code-added));
}

.code-block .token.deleted.prefix,
.code-block .token.inserted.prefix {
  user-select: none;
}

.code-block .highlight-word .token {
  color: inherit;
}

.code-block .highlight-word.on {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.code-block .token.deleted .highlight-word {
  color: rgb(var(--code-highlighted-word2-text));
  background-color: rgb(var(--code-highlighted-word2-bg));
}

.code-block .token.deleted .highlight-word.on {
  background-color: rgb(var(--code-highlighted-word2-bg-active));
}

.code-block .token.inserted .highlight-word {
  background-color: rgb(var(--code-highlighted-word3-bg));
}

.code-block .token.inserted .highlight-word.on {
  background-color: rgb(var(--code-highlighted-word3-bg-active));
}

/* Line numbers */
.code-block[data-line-numbers='true'] .highlight-line::before {
  color: rgb(var(--code-line-number));
  content: attr(data-line);
  position: absolute;
  left: -5px;
  top: 0;
}

/* Styles for highlighted lines */
.code-block .highlight-line {
  @apply transition-colors;
}

.code-block .highlight-line * {
  @apply transition-colors;
}

.code-block .highlight-line[data-highlighted='false'] {
  color: rgb(var(--code-faded-line));
}

.code-block .highlight-line[data-highlighted='false'] * {
  color: rgb(var(--code-faded-line));
}

/* Typewriter styles */
.code-block .typewriter {
  opacity: 0;
}

/**
  * ----------------------------------------
  * Code snippet styles
  * ----------------------------------------
  */
.token.string {
  color: rgb(var(--code-string));
}
.token.builtin {
  color: rgb(var(--code-class));
}
.token.punctuation {
  color: rgb(var(--code-punctuation));
}
.token.number {
  color: rgb(var(--code-number));
}
.token.class-name {
  color: rgb(var(--code-class));
}
.token.comment {
  color: rgb(var(--code-comment));
}
.token.comment span {
  color: rgb(var(--code-comment));
}
.token.plain-text {
  color: rgb(var(--code-foreground));
}
.token.module,
.token.keyword {
  color: rgb(var(--code-keyword));
}
.token.function {
  color: rgb(var(--code-function));
}
.token.tag {
  color: rgb(var(--code-tag));
}
.token.attr-name {
  color: rgb(var(--code-attr-name));
}
.token.language-javascript {
  color: rgb(var(--code-language-javascript));
}
